* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,
body {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* styles */
.container {
  border: 10px solid black;
}

.container button {
  padding: 50px;
  font-size: 1.5em;
  font-weight: 800;
}

.container .zero {
  grid-column: 1 / span 2;
}

.container .ac,
.pos-neg,
.percent,
.divide,
.multiply,
.plus,
.minus,
.equal {
  background-color: darkgray;
  font-weight: 800;
}

.display {
  padding: 80px;
  border-bottom: 10px solid black;
}

.display p {
  text-align: right;
  font-size: 3em;
}
