* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,
body {
  height: 100%;
}

body {
  background-color: honeydew;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
}

/* styles */
.container {
  border: 10px solid black;
}

.container button {
  padding: 50px;
  font-size: 1.5em;
  font-weight: 800;
}

.container .zero,
.ac {
  grid-column: span 2;
}

.container .ac,
.delete,
.percent,
.divide,
.multiply,
.add,
.subtract,
.equal {
  background-color: darkgray;
  font-weight: 800;
}

.display {
  padding: 80px;
  border-bottom: 10px solid black;
  text-align: right;
}

.display .current {
  font-size: 3em;
}

.display .prev {
  color: gray;
  font-size: 1.5em;
}
